<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ראשי</title>
    <SCRIPT src="/draw_sankey/server/html/common/assets/javascript/dependencies.js"></SCRIPT>
    <SCRIPT src="/draw_sankey/server/html/common/lib/bootstrap/js/bootstrap.min.js"></SCRIPT>
    <script src="/javascripts/main.js"></script>
    <link href="/draw_sankey/server/html/common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body dir="rtl">
<div align="center">
    <div class="main-div">
        <h1>מערכת לניהול תהליכים ארגוניים</h1>
        <h2>אגודת הסטודנטים אוניברסיטת בן-גוריון</h2>
        <br>
        <br>
        <div class="form-group"><a class="btn btn-default" href="/auth/google">Sign in with Google</a></div>
    </div>
</div>

</body>
</html>