<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ראשי</title>
    <SCRIPT src="/draw_sankey/server/html/common/assets/javascript/dependencies.js"></SCRIPT>
    <SCRIPT src="/draw_sankey/server/html/common/lib/bootstrap/js/bootstrap.min.js"></SCRIPT>
    <link href="/draw_sankey/server/html/common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/draw_sankey/server/html/common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <style>
        .main_title > b {
            color: var(--main-color);
            font-size: xx-large;
        }

        .main_title {
            font-size: x-large
        }

        .x-main-title {
            margin-top: 10px;
            color: var(--main-color);
            font-size: 70px;
        }
    </style>
</head>
<body dir="rtl">
<div align="center">
    <div class="main-div" style="width: 70%">
        <div class="x-main-title" dir="ltr"><b>WMSSA BGU!</b></div>
        <div class="main_title" dir="ltr">
            <b>W</b>orkflow <b>M</b>anagment <b>S</b>ystem
            for the
            <b>S</b>tudent <b>A</b>ssociation
            of
            <b>B</b>en-<b>G</b>urion <b>U</b>niversity
        </div>
        <hr>
        <h1>מערכת לניהול תהליכים ארגוניים</h1>
        <h2>אגודת הסטודנטים אוניברסיטת בן-גוריון</h2>
        <hr>
        <div>
            <br>
            <br>
            <a href="/auth/outlook">
                <img src="/images/ms-symbollockup_signin_light.png" alt="לוגו">
            </a>
        </div>
    </div>
</div>
</body>
</html>