<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <label>
        <select>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
    </label>
    <br>
    <label>
        <input type="checkbox" name="UserManagementsPermission">
    </label> UserManagementsPermission<br>
    <label>
        <input type="checkbox" name="StructureManagementsPermission">
    </label> StructureManagementsPermission<br>
    <label>
        <input type="checkbox" name="ObserverPermission">
    </label> ObserverPermission<br>
    <label>
        <input type="checkbox" name="PermissionManagementPermission">
    </label>  PermissionManagementPermission<br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>