<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="data:;base64,iVBORw0KGgo=">
    <meta charset="UTF-8">
    <title>HomePage</title>
    <script>

    </script>
    <script src="/alertify/alertify.js"></script>
    <link href="/alertify/css/alertify.css" rel="stylesheet">
    <link href="/alertify/css/alertify.rtl.css" rel="stylesheet">
    <script type="text/javascript">
        //override defaults
        alertify.defaults = {
            // dialogs defaults
            autoReset: true,
            basic: false,
            closable: true,
            closableByDimmer: true,
            frameless: false,
            maintainFocus: true, // <== global default not per instance, applies to all dialogs
            maximizable: true,
            modal: true,
            movable: true,
            moveBounded: false,
            overflow: true,
            padding: true,
            pinnable: true,
            pinned: true,
            preventBodyShift: false, // <== global default not per instance, applies to all dialogs
            resizable: true,
            startMaximized: false,
            transition: 'pulse',

            // notifier defaults
            notifier: {
                // auto-dismiss wait time (in seconds)
                delay: 5,
                // default position
                position: 'bottom-right',
                // adds a close button to notifier messages
                closeButton: false
            },

            // language resources
            glossary: {
                // dialogs default title
                title: '',
                // ok button text
                ok: 'אישור',
                // cancel button text
                cancel: 'ביטול'
            },

            // theme settings
            theme: {
                // class name attached to prompt dialog input textbox.
                input: 'ajs-input',
                // class name attached to ok button
                ok: 'ajs-ok',
                // class name attached to cancel button
                cancel: 'ajs-cancel'
            }
        };
    </script>
</head>
<body>
<p style="font-size: 40px;">Add New Role:</p>
<form method="POST" action="/UsersAndRolesController/addNewRole/">
    <label>
        New Role Name:
        <input name="addNewRole_newRoleName" type="text">
    </label>
    <br><br>
    <label>
        Father Role Name:
        <input name="addNewRole_fatherRoleName" type="text">
    </label>
    <br><br>
    <input value="addNewRole" type="submit">
</form>

<p style="font-size: 40px;">Delete Role:</p>
<form method="POST" action="/UsersAndRolesController/deleteRole/">
    <label>
        Role Name:
        <input name="roleToDelete" type="text">
    </label>
    <br><br>
    <input value="deleteRole" type="submit">
</form>

<p style="font-size: 40px;">Change Role Name:</p>
<form method="POST" action="/UsersAndRolesController/changeRoleName/">
    <label>
        Old Role Name:
        <input name="changeRoleName_oldRoleName" type="text">
    </label>
    <br><br>
    <label>
        New Role Name:
        <input name="changeRoleName_newRoleName" type="text">
    </label>
    <br><br>
    <input value="changeRoleName" type="submit">
</form>

<p style="font-size: 40px;">Add User To Role:</p>
<form method="POST" action="/UsersAndRolesController/addNewUserToRole/">
    <label>
        User Email :
        <input name="addNewUserToRole_userEmail" type="text">
    </label>
    <br><br>
    <label>
        User Role :
        <input name="addNewUserToRole_roleName" type="text">
    </label>
    <br><br>
    <input value="addNewUserToRole" type="submit">
</form>

<p style="font-size: 40px;">Delete User From Role:</p>
<form method="POST" action="/UsersAndRolesController/deleteUserFromRole/">
    <label>
        User Email :
        <input name="deleteUserFromRole_userEmail" type="text">
    </label>
    <br><br>
    <label>
        User Role :
        <input name="deleteUserFromRole_roleName" type="text">
    </label>
    <br><br>
    <input value="deleteUserFromRole" type="submit">
</form>

<p style="font-size: 40px;">Change User Email In Role:</p>
<form method="POST" action="/UsersAndRolesController/changeUserEmailInRole/">
    <label>
        Role Name :
        <input name="changeUserEmailInRole_roleName" type="text">
    </label>
    <br><br>
    <label>
        Old User Email :
        <input name="changeUserEmailInRole_oldUserEmail" type="text">
    </label>
    <br><br>
    <label>
        New User Email :
        <input name="changeUserEmailInRole_newUserEmail" type="text">
    </label>
    <br><br>
    <input value="changeUserEmailInRole" type="submit">
</form>
</body>
</html>