<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Me Please</title>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/javascripts/upload_js.js"></script>
    <script src="/alertify/alertify.js"></script>
    <link href="/alertify/css/alertify.css" rel="stylesheet">
    <link href="/alertify/css/alertify.rtl.css" rel="stylesheet">
    <script type="text/javascript">
        //override defaults
        alertify.defaults = {
            // dialogs defaults
            autoReset: true,
            basic: false,
            closable: true,
            closableByDimmer: true,
            frameless: false,
            maintainFocus: true, // <== global default not per instance, applies to all dialogs
            maximizable: true,
            modal: true,
            movable: true,
            moveBounded: false,
            overflow: true,
            padding: true,
            pinnable: true,
            pinned: true,
            preventBodyShift: false, // <== global default not per instance, applies to all dialogs
            resizable: true,
            startMaximized: false,
            transition: 'pulse',

            // notifier defaults
            notifier: {
                // auto-dismiss wait time (in seconds)
                delay: 5,
                // default position
                position: 'bottom-right',
                // adds a close button to notifier messages
                closeButton: false
            },

            // language resources
            glossary: {
                // dialogs default title
                title: '',
                // ok button text
                ok: 'אישור',
                // cancel button text
                cancel: 'ביטול'
            },

            // theme settings
            theme: {
                // class name attached to prompt dialog input textbox.
                input: 'ajs-input',
                // class name attached to ok button
                ok: 'ajs-ok',
                // class name attached to cancel button
                cancel: 'ajs-cancel'
            }
        };
    </script>
</head>
<body>
<form method="post" action="/uploadFile/upload_file" enctype="multipart/form-data">
    <div class="file-uploader__message-area">
        <p>Select a file to upload</p>
    </div>
    <div class="file-chooser">
        <input class="file-chooser__input" type="file" name="fields[]">
    </div>
    <button class="file-uploader__submit-button" type="submit" value="Upload">fff</button>
</form>
</body>
</html>