<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>דו"ח תהליך</title>
    <script src="/draw_sankey/server/html/common/assets/javascript/dependencies.js"></script>
    <script src="/draw_sankey/server/html/common/lib/bootstrap-4.3.1-dist/js/bootstrap.bundle.js"></script>
    <script src="/draw_sankey/server/html/common/lib/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/draw_sankey/server/html/common/lib/DataTables/datatables.min.js"></script>
    <script src="/javascripts/reports.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <link href="/draw_sankey/server/html/common/lib/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet">
    <link href="/draw_sankey/server/html/common/lib/bootstrap-4.3.1-dist/css/bootstrap-grid.css" rel="stylesheet">
    <link href="/draw_sankey/server/html/common/lib/bootstrap-4.3.1-dist/css/bootstrap-reboot.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/draw_sankey/server/html/common/lib/DataTables/datatables.min.css"/>
    <style>
        td {
            text-align: center;
        }

        th {
            text-align: center;
        }

        #showLink {
            background: none !important;
            color: #07C;
            border: none;
            padding: 0 !important;
            font: inherit;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="row">
    <h1 style="margin: auto">דו"ח תהליך</h1>
</div>
<div class="row">
    <h3 style="margin: auto;direction: rtl">פרטי התהליך :</h3>
</div>
<div class="row">
    <h4 style="margin: auto;direction: rtl">שם התהליך : <%=processDetails.processName%></h4>
</div>
<div class="row">
    <h4 style="margin: auto;direction: rtl">סטטוס התהליך : <%=processDetails.status%></h4>
</div>
<div class="row">
    <h4 style="margin: auto">תאריך יצירה : <%=processDetails.creationTime%></h4>
</div>
<br>
<div class="row">
    <div class="col-lg-10" style="margin:auto">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>שם התפקיד :</th>
                <th>שם ממלא התפקיד :</th>
                <th>תאריך ושעה :</th>
                <th>הערות :</th>
                <th>קבצים :</th>
            </tr>
            </thead>
            <tbody>
            <%table.forEach(function(step){%>
            <tr>

                <td>
                    <%step.files.forEach(function(file){%>
                    <form action="/uploadFile/download_file" method="post" enctype="multipart/form-data">
                        <input id="showLink" type="submit" name="filetodownload"
                        value="files/<%=processDetails.processName%>/<%=step.userEmail%>/<%=file%>">
                    </form>
                    <%})%>
                </td>
                <td>
                    <%step.filledOnlineForms.forEach((form)=>{%>
                    <h5><%form.formName%></h5><br><br>
                    <%})%>
                </td>
                <td><%=step.comments%></td>
                <td><%=step.approvalTime%></td>
                <td><%=step.userEmail%></td>
                <td><%=step.roleID%></td>
            </tr>
            <%})%>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>