<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="data:;base64,iVBORw0KGgo=">
    <meta charset="UTF-8">
    <title>HomePage</title>
    <script>

    </script>
</head>
<body>
<p style="font-size: 40px;">Register:</p>
<form method="POST" action="/register/">
    <label>
        Username:
        <input name="register_username" type="text">
    </label>
    <br><br>
    <label>
        Password:
        <input name="register_password" type="text">
    </label>
    <br><br>
    <input value="Register" type="submit">
</form>
<p style="font-size: 40px;">Login:</p>
<form>
    <label>
        Username:
        <input name="login_username" type="text">
    </label>
    <br><br>
    <label>
        Password:
        <input name="login_password" type="text">
    </label>
    <br><br>
    <input value="Login" type="submit">
</form>
</body>
</html>