<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="data:;base64,iVBORw0KGgo=">
    <meta charset="UTF-8">
    <title>HomePage</title>
    <script>

    </script>
</head>
<body>
<p style="font-size: 40px;">Register:</p>
<form method="POST" action="/register/">
    <label>
        Username:
        <input name="register_username" type="text">
    </label>
    <br><br>
    <label>
        Password:
        <input name="register_password" type="text">
    </label>
    <br><br>
    <input value="Register" type="submit">
</form>
<p style="font-size: 40px;">Login:</p>
<form>
    <label>
        Username:
        <input name="login_username" type="text">
    </label>
    <br><br>
    <label>
        Password:
        <input name="login_password" type="text">
    </label>
    <br><br>
    <input value="Login" type="submit">
</form>

<p style="font-size: 40px;">Add Role:</p>
<form method="POST" action="/addRole/">
    <label>
        Role Name:
        <input name="addRole_role" type="text">
    </label>
    <br><br>
    <input value="addRole" type="submit">
</form>

<p style="font-size: 40px;">Delete Role:</p>
<form method="POST" action="/deleteRole/">
    <label>
        Role Name:
        <input name="deleteRole_role" type="text">
    </label>
    <br><br>
    <input value="deleteRole" type="submit">
</form>

<p style="font-size: 40px;">Edit Role:</p>
<form method="POST" action="/editRole/">
    <label>
        Old Role Name:
        <input name="editRole1_role" type="text">
    </label>
    <br><br>
    <label>
        New Role Name:
        <input name="editRole2_role" type="text">
    </label>
    <br><br>
    <input value="editRole" type="submit">
</form>

<p style="font-size: 40px;">Add User:</p>
<form method="POST" action="/addUser/">
    <label>
        User Email:
        <input name="addUser_1" type="text">
    </label>
    <br><br>
    <label>
        User Role:
        <input name="addUser_2" type="text">
    </label>
    <br><br>
    <input value="addUser" type="submit">
</form>

<p style="font-size: 40px;">Delete User By Email:</p>
<form method="POST" action="/deleteUserByEmail/">
    <label>
        User Email:
        <input name="deleteUserByEmail" type="text">
    </label>
    <br><br>
    <input value="deleteUserByEmail" type="submit">
</form>

<p style="font-size: 40px;">Delete User By Role:</p>
<form method="POST" action="/deleteUserByRole/">
    <label>
        User Role:
        <input name="deleteUserByRole" type="text">
    </label>
    <br><br>
    <input value="deleteUserByRole" type="submit">
</form>
</body>
</html>