<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ראשי</title>
    <SCRIPT src="/draw_sankey/server/html/common/assets/javascript/dependencies.js"></SCRIPT>
    <SCRIPT src="/draw_sankey/server/html/common/lib/bootstrap/js/bootstrap.min.js"></SCRIPT>
    <script src="/javascripts/main.js"></script>

    <link href="/draw_sankey/server/html/common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body dir="rtl">
<div align="center">

    <div style="width: 100%; background: #f6a500; height: 15%;">
        my top bar
    </div>
    <br><br>
    <div class="main-div">
        <h1>מערכת לניהול תהליכים ארגוניים</h1>
        <h2>אגודת הסטודנטים אוניברסיטת בן-גוריון</h2>
        <br>
        <h3>תפריט ראשי</h3>
        <br>
        <div>
            <button class="btn btn-default" onclick="startActiveProcess()">התחל תהליך</button>
            <button class="btn btn-default" onclick="location.href='/notifications/myNotifications'">התראות</button>
            <button class="btn btn-default" onclick="location.href='/activeProcesses/getAllActiveProcessesByUser'">
                התהליכים
                שלי
            </button>
            <button class="btn btn-default" onclick="location.href='/activeProcesses/getWaitingActiveProcessesByUser'">
                תהליכים שממתינים לי
            </button>
            <button class="btn btn-default" onclick="updateOnlineForms()">
                עדכן טפסים
            </button>
            <button class="btn btn-default" onclick="location.href='/activeProcesses/getAvailableActiveProcessesByUser'">
                תהליכים זמינים
            </button>
        </div>
        <br><br>
        <h3>לפי הרשאות</h3>
        <br>
        <div>
            <button class="btn btn-default" onclick="addProcessStructureClicked()">הוספת מבנה תהליך</button>
            <button class="btn btn-default" onclick="editProcessStructureClicked()">עריכת מבנה תהליך</button>
            <button class="btn btn-default" onclick="editUsersAndRolesTree()">עריכת עץ המשתמשים</button>
        </div>
        <div id="add-process-structure-modal" class="modal">

            <div class="modal-content" style="width: 30%">
                <span id="close-add" class="close">&times;</span>
                <br>
                <h4>הוספת מבנה תהליך</h4>
                <br>
                <input id="new-process-structure-name" type="text" style="text-align: center; width:50%"
                       placeholder="שם מבנה">
                <br><br>
                <button id="new-process-structure-button" class="btn btn-default">הוסף</button>
            </div>
        </div>
        <div id="edit-process-structure-modal" class="modal">

            <div class="modal-content">
                <span id="close-edit" class="close">&times;</span>
                <h4>בחר תהליך</h4>
                <select id="processes_selector">
                </select>
                <br><br>
                <button id="edit-process-structure-button" onclick="confirmEditProcessStructureClicked()"
                        class="btn btn-default">ערוך
                </button>
            </div>
        </div>
        <div id="start-active-process-modal" class="modal">
            <div class="modal-content">
                <span id="close-start" class="close">&times;</span>
                <h2>התחלת תהליך</h2><br>
                <table style="width:60%">
                    <tr>
                        <td style="width: 50%"><label for="start-processes-name">שם תהליך</label></td>
                        <td><input id="start-processes-name" style="width:100%" type="text"></td>
                    </tr>
                    <tr>
                        <td><br></td>
                    </tr>
                    <tr>
                        <td style="width: 50%"><label for="start-processes-date">תאריך האירוע</label></td>
                        <td><input id="start-processes-date" style="width:100%" type="date"></td>
                    </tr>
                    <tr>
                        <td><br></td>
                    </tr>
                    <tr>
                        <td style="width: 50%"><label for="start-processes-urgency">תכיפות התהליך</label></td>
                        <td><select id="start-processes-urgency" style="width:100%"></select></td>
                    </tr>
                    <tr>
                        <td><br></td>
                    </tr>
                    <tr>
                        <td style="width: 50%"><label for="start-processes-selector">בחר מבנה להתחלה</label></td>
                        <td><select id="start-processes-selector" style="width:100%"></select></td>
                    </tr>
                    <tr>
                        <td><br></td>
                    </tr>
                    <tr>
                        <td style="width: 50%"><label for="start-processes-selector">בחר את מרווח זמן ההתראה</label></td>
                        <td><select id="start-processes-notification-time" style="width:100%">
                            <option value="12">12 שעות</option>
                            <option value="24">24 שעות</option>
                            <option value="48">48 שעות</option>
                            <option value="72">72 שעות</option>
                            <option value="96">96 שעות</option>
                        </select></td>
                    </tr>
                </table>
                <br><br>
                <button id="start-process-button" onclick="confirmStartProcess()" class="btn btn-default">התחל תהליך
                </button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="form-group"><a class="btn btn-default" href="/auth/logout">Sign out</a></div>
    </div>
</div>

</body>
</html>