<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ראשי</title>
    <SCRIPT src="/draw_sankey/server/html/common/assets/javascript/dependencies.js"></SCRIPT>
    <SCRIPT src="/draw_sankey/server/html/common/lib/bootstrap/js/bootstrap.min.js"></SCRIPT>
    <script src="/javascripts/topbar.js"></script>
    <script src="/javascripts/main.js"></script>
    <link type="text/css" rel="stylesheet" href="/draw_sankey/server/html/common/lib/ionicons/css/ionicons.min.css"/>

    <link href="/draw_sankey/server/html/common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <script src="/alertify/alertify.js"></script>
    <link href="/alertify/css/alertify.css" rel="stylesheet">
    <link href="/alertify/css/alertify.rtl.css" rel="stylesheet">
    <script type="text/javascript">
        //override defaults
        alertify.defaults = {
            // dialogs defaults
            autoReset:true,
            basic:false,
            closable:true,
            closableByDimmer:true,
            frameless:false,
            maintainFocus:true, // <== global default not per instance, applies to all dialogs
            maximizable:true,
            modal:true,
            movable:true,
            moveBounded:false,
            overflow:true,
            padding: true,
            pinnable:true,
            pinned:true,
            preventBodyShift:false, // <== global default not per instance, applies to all dialogs
            resizable:true,
            startMaximized:false,
            transition:'pulse',

            // notifier defaults
            notifier:{
                // auto-dismiss wait time (in seconds)
                delay:5,
                // default position
                position:'bottom-right',
                // adds a close button to notifier messages
                closeButton: false
            },

            // language resources
            glossary:{
                // dialogs default title
                title:'',
                // ok button text
                ok: 'אוקיי',
                // cancel button text
                cancel: 'ביטול'
            },

            // theme settings
            theme:{
                // class name attached to prompt dialog input textbox.
                input:'ajs-input',
                // class name attached to ok button
                ok:'ajs-ok',
                // class name attached to cancel button
                cancel:'ajs-cancel'
            }
        };
    </script>

</head>
<style>
    .sameWidth {
        width: 28%;
    }
</style>
<body dir="rtl">
<div align="center">
    <div class="top-bar" id="top-bar">
    </div>
    <div class="main-div" style="width: 60%">
        <h1>מערכת לניהול תהליכים ארגוניים</h1>
        <h3>אגודת הסטודנטים אוניברסיטת בן-גוריון</h3>
        <hr class="orange-hr" style="width: 90%">

        <div>
            <h4><b>תהליכים פעילים</b></h4>
            <button class="btn btn-default sameWidth" onclick="location.href='/activeProcesses/getAllActiveProcessesByUser'">
                התהליכים שלי
            </button>
            <button class="btn btn-default sameWidth" onclick="location.href='/activeProcesses/getWaitingActiveProcessesByUser'">
                תהליכים שממתינים לי
            </button>
            <button class="btn btn-default sameWidth"
                    onclick="location.href='/activeProcesses/getAvailableActiveProcessesByUser'">תהליכים זמינים
            </button>
        </div>

        <hr class="orange-hr" style="width: 90%">

        <div>
            <h4><b>פעולות</b></h4>
            <button class="btn btn-default sameWidth" onclick="startActiveProcess()">התחל תהליך</button>
            <button class="btn btn-default sameWidth"
                    onclick="location.href='/activeProcesses/getAllProcessesReportsByUser'">הצג דוחות
            </button>
            <button class="btn btn-default sameWidth" onclick="editUsersAndRolesTree()">עריכת עץ המשתמשים</button>
        </div>

        <hr class="orange-hr" style="width: 90%">

        <div>
            <h4><b>מבני תהליכים</b></h4>
            <button class="btn btn-default sameWidth" style="margin-bottom: 0px" onclick="addProcessStructureClicked()">הוספת מבנה תהליך</button>
            <button class="btn btn-default sameWidth" style="margin-bottom: 0px" onclick="editProcessStructureClicked()">עריכת מבנה תהליך</button>
            <button class="btn btn-default sameWidth" style="margin-bottom: 0px" onclick="waitingStructuresClicked()">מבני תהליכים הממתינים לאישור</button>
        </div>


        <div id="add-process-structure-modal" class="modal">
            <div class="modal-content" style="width: 30%">
                <span id="close-add" class="close">&times;</span>
                <br>
                <h4>הוספת מבנה תהליך</h4>
                <br>
                <input id="new-process-structure-name" type="text" style="text-align: center; width:50%"
                       placeholder="שם מבנה">
                <br><br>
                <button id="new-process-structure-button" class="btn btn-default">הוסף</button>
            </div>
        </div>
        <div id="edit-process-structure-modal" class="modal">
            <div class="modal-content">
                <span id="close-edit" class="close">&times;</span>
                <h4>בחר תהליך</h4>
                <select id="processes_selector">
                </select>
                <br><br>
                <button id="edit-process-structure-button" onclick="confirmEditProcessStructureClicked()"
                        class="btn btn-default">ערוך
                </button>
            </div>
        </div>
        <div id="start-active-process-modal" class="modal">
            <div class="modal-content">
                <span id="close-start" class="close">&times;</span>
                <h2>התחלת תהליך</h2><br>
                <table style="width:60%">
                    <tr>
                        <td style="width: 50%"><label for="start-processes-name">שם תהליך</label></td>
                        <td><input id="start-processes-name" style="width:100%" type="text"></td>
                    </tr>
                    <tr>
                        <td><br></td>
                    </tr>
                    <tr>
                        <td style="width: 50%"><label for="start-processes-date">תאריך האירוע</label></td>
                        <td><input id="start-processes-date" style="width:100%" type="datetime-local"></td>
                    </tr>
                    <tr>
                        <td><br></td>
                    </tr>
                    <tr>
                        <td style="width: 50%"><label for="start-processes-urgency">תכיפות התהליך</label></td>
                        <td><select id="start-processes-urgency" style="width:100%"></select></td>
                    </tr>
                    <tr>
                        <td><br></td>
                    </tr>
                    <tr>
                        <td style="width: 50%"><label for="start-processes-selector">בחר מבנה להתחלה</label></td>
                        <td><select id="start-processes-selector" style="width:100%"></select></td>
                    </tr>
                    <tr>
                        <td><br></td>
                    </tr>
                    <tr>
                        <td style="width: 50%"><label for="start-processes-selector">בחר את מרווח זמן ההתראה</label>
                        </td>
                        <td><select id="start-processes-notification-time" style="width:100%">
                            <option value="12">12 שעות</option>
                            <option value="24">24 שעות</option>
                            <option value="48">48 שעות</option>
                            <option value="72">72 שעות</option>
                            <option value="96">96 שעות</option>
                        </select></td>
                    </tr>
                </table>
                <br><br>
                <button id="start-process-button" onclick="confirmStartProcess()" class="btn btn-default">התחל תהליך
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>