<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Please Sign In with:</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body data-spy="scroll" data-target=".scrollspy">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<title>Please Sign In with:</title>
<link rel="stylesheet" href="/stylesheets/style.css">
<div class="main container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3"><h1 class="display-4 m-b-2">Please Sign In with:</h1>
            <div class="form-group"><a class="btn btn-danger" href="/auth/google">Google</a></div>
        </div>
    </div>
</div>
</body>
</html>