<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <script src="/javascripts/main.js"></script>
</head>
<body>
<div>
    <button>start process</button>
    <button>notifications</button>
    <button onclick="location.href='/activeProcesses/getAllActiveProcessesByUser'">my processes</button>
    <button onclick="location.href='/activeProcesses/getWaitingActiveProcessesByUser'">processes waiting for me</button>
    <button>processes waiting for me</button>
    <button onclick="addProcessStructureClicked()">add process structure</button>
    <button onclick="editProcessStructureClicked()">edit process structure</button>
</div>
</body>
</html>