<div class="top-bar-right-div">
    <a class="top-bar-button" href="/notifications/myNotifications">
        <i class="ion ion-android-notifications" style="font-size: 30px"></i>
    </a>
    <span class="badge" style="background-color:white; color:#231f20"><%= notificationCount %></span>
    <h3 class="top-bar-label"><%= userFullName %> - <%= roleName %></h3>
</div>
<div>
    <a href="/Home">
        <img class="top-bar-logo" src="/images/logo_aguda_black.png" alt="לוגו">
    </a>
</div>
<div class="top-bar-left-div">
    <a href="/permissionsControl" class="top-bar-permission-button" >
        <img <%- permissionsStyle %> class="top-bar-permission-image" src="/images/permissions icon.png" alt="הרשאות">
    </a>
    <a class="top-bar-button" href="/auth/logout">
        <i class="ion ion-log-out" style="font-size: 30px"></i>
    </a>
</div>