table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.no_table {
    border: none;
    width: 100%;
}

label {
    padding: 0 10px
}

tr > th {
    text-align: center;
    padding: 8px;
    background-color: ghostwhite;
}

fieldset > input {
    margin: 10px;
}

td > input {
    width: 100%;
    text-align: center;
    border: none;
    padding: 7px;
}