table, td, th {
    border: 1px groove black;
}

canvas {
    border-bottom: 1px groove black;

}

table {
    border-collapse: collapse;
    width: 100%;
}

.no_table {
    width: 85%;
}

.no_table_print {
    width: 85%;
}

label {
    padding: 0 10px;
    margin-bottom: 0;
}

.no_input {
    background-color: whitesmoke;
    width: 20%;
}

tr > th {
    text-align: center;
    padding: 8px;
    background-color: ghostwhite;
}

fieldset > input {
    margin: 10px;
}

td > input {
    width: 100%;
    text-align: center;
    border: none;
    padding: 7px;
}


td > textarea {
    width: 100%;
    text-align: right;
    border: none;
    padding: 7px;
    overflow: hidden;
}

.no_table_cell {
    resize: none;
    height: auto;
}

.padding {
    padding: 7px;
    background-color: whitesmoke;
    text-align: center;

}

.signature_table {
    width: 40%;
}

