:root {
    --main-color: #f6a500;
    --confirm-color: #00c400;
    --gray: rgb(195, 195, 195);
}

body {
    background-color: #FFFFFF;
}

.btn-sm {
    background-color: var(--main-color);
    color: #FFFFFF
}

.btn-primary{
    border-color: var(--main-color);
    background-color:var(--main-color)
}

.btn-primary:hover{
    background: var(--main-color);
}

.main-div {
    padding: 0 2% 2%;
    margin: 2%;
    width: 50%;
    border-radius: 60px;
    border-color: var(--main-color);
    border-width: 2px;
    border-style: solid;
}

.main-div-tables {
    padding: 0 2% 2%;
    margin: 2%;
    width: 90%;
    border-radius: 60px;
    border-color: var(--main-color);
    border-width: 2px;
    border-style: solid;
}

.main-div-forms {
    padding: 2% 2% 2%;
    margin: 2%;
    width: 60%;
    border-radius: 60px;
    border-color: var(--main-color);
    border-width: 2px;
    border-style: solid;
}

.orange-hr {
    width: 60%;
    border-color: var(--main-color);
    border-width: 1px;
}

.btn-default {
    background-color: var(--main-color);
    color: white;
    margin: 10px;
    border-radius: 20px;
    border-color: transparent;
    border-width: 2px;
}

.btn-default:hover {
    background-color: white;
    color: var(--main-color);
    border-radius: 20px;
    border-color: var(--main-color);
    border-width: 2px;
}

.confirm {
    background-color: var(--confirm-color);
    color: white;
    margin: 10px;
    border-radius: 20px;
    border-color: transparent;
    border-width: 2px;
}

.confirm:hover {
    background-color: white;
    color: var(--confirm-color);
    border-radius: 20px;
    border-color: var(--confirm-color);
    border-width: 2px;
}


#palette {
    background-color: #c7c7c7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid transparent;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}

.top-bar {
    height: 3.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
}

.top-bar-right-div {
    padding-right: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.top-bar-left-div {
    padding-left: 15px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.top-bar-button {
    color: white;
    font-size: 20px;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 5px;
}

.top-bar-label {
    color: white;
    font-size: 16px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.top-bar-home {
    font-size: 40px;
    color: white;
}

.top-bar-permission-button{
    margin-top: 5px;
    margin-left: 15px;
}

.top-bar-permission-image{
    height: 34px;
}

@media print {
    .no_print {
        visibility: hidden;
    }


    .main-div-forms {
        padding: 2% 2% 2%;
        margin: 2%;
        width: 95%;
        border-radius: 60px;
        border-color: var(--main-color);
        border-width: 2px;
        border-style: solid;
    }

    .page-break {
        page-break-before: always;
    }

    /* page-break-after works, as well */
    .signature_table {
        page-break-inside: avoid;
    }
}