<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>שגיאה</title>
    <SCRIPT src="/draw_sankey/server/html/common/assets/javascript/dependencies.js"></SCRIPT>
    <SCRIPT src="/draw_sankey/server/html/common/lib/bootstrap/js/bootstrap.min.js"></SCRIPT>
    <script src="/javascripts/topbar.js"></script>
    <link type="text/css" rel="stylesheet" href="/draw_sankey/server/html/common/lib/ionicons/css/ionicons.min.css"/>

    <link href="/draw_sankey/server/html/common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <script>
        $(document).ready(function ()
        {
            setTopBar();
        });
    </script>
</head>

<body dir="rtl">
<div align="center">
    <div id="top-bar" class="top-bar">
    </div>
    <br><br>
    <h1>או או</h1>
    <h1>משהו השתבש</h1>
    <h1>* עמוד פיקטיבי *</h1>
    <h1>☹</h1>
</div>
</body>
</html>