<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
        let _formName = '';

        window.onload = function () {
            _formName = '<%=formName%>';
            document.title = _formName;
            document.getElementById("formTitle").appendChild(document.createTextNode(_formName));
            let isForShow = '<%=isForShow%>' === 'true';
            if (isForShow) {
                let info = "טופס דמו של " + _formName;
                document.getElementById("info").appendChild(document.createTextNode(info));
                document.getElementById("fieldset").setAttribute("disabled", "disabled");
                document.getElementById("submitButton").setAttribute("disabled", "disabled");
            }


        };
    </script>
    <SCRIPT src="/draw_sankey/server/html/common/assets/javascript/dependencies.js"></SCRIPT>
    <SCRIPT src="/draw_sankey/server/html/common/lib/bootstrap/js/bootstrap.min.js"></SCRIPT>

    <link href="/draw_sankey/server/html/common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascripts/onlineForms.js"></script>
    <title>DefaultTitle</title>
</head>
<body dir="rtl">
<div align="center">
    <br><br>
    <div class="main-div">
        <h1>מערכת לניהול תהליכים ארגוניים</h1>
        <h2 id="formTitle"><u></u></h2>
        <br>
        <h3 id="info"></h3>
        <br>
        <div>
            <form id="form" onsubmit="return submitForm()">
                <fieldset id="fieldset">
                    <br>
                    <input id="name" name="first_name" placeholder="שם פרטי" type="text">
                    <br><br>
                    <input name="last_name" placeholder="שם משפחה" type="text">
                    <br><br>
                    <input class="btn-default" id="submitButton" onclick="submitForm()" type="button" value="שלח">
                </fieldset>
            </form>
        </div>
        <br><br>
        <button class="btn-default" onclick="window.close()">סגור טופס</button>
    </div>

</div>

</body>
</html>