<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
        let _formName = '';
        let fields = undefined;

        window.onload = function () {
            _formName = '<%=formName%>';
            document.title = _formName;
            document.getElementById("formTitle").appendChild(document.createTextNode(_formName));
            let isForShow = '<%=isForShow%>' === 'true';
            fields = '<%= fields %>';
            if (fields !== 'false') {
                while (fields.indexOf('&#34;') >= 0)
                    fields = fields.replace('&#34;', '"');
                fields = JSON.parse(fields);
                fields.forEach((field) => {
                    let element = document.getElementsByName(field.fieldName)[0];
                    if (element.type === 'text')
                        element.setAttribute("value", field.value);
                    else if (element.type === 'checkbox')
                        element.checked = true;
                    else if (element.type === 'radio') {
                        document.getElementsByName(field.fieldName).forEach((radioElement) => {
                            if (radioElement.value === field.value) {
                                radioElement.checked = true;
                            }
                            return true;
                        });
                    } else
                        alert('type error');
                });
                document.getElementById("fieldset").setAttribute("disabled", "disabled");
                document.getElementById("submitButton").setAttribute("disabled", "disabled");
                document.getElementById("submitButton").style.display = "none";
            } else if (isForShow) {
                let info = "טופס דמו של " + _formName;
                document.getElementById("info").appendChild(document.createTextNode(info));
                document.getElementById("fieldset").setAttribute("disabled", "disabled");
                document.getElementById("submitButton").setAttribute("disabled", "disabled");
            } else
                document.getElementById('close_win_button').style.display = "none";
        };
    </script>
    <SCRIPT src="/draw_sankey/server/html/common/assets/javascript/dependencies.js"></SCRIPT>
    <SCRIPT src="/draw_sankey/server/html/common/lib/bootstrap/js/bootstrap.min.js"></SCRIPT>

    <link href="/draw_sankey/server/html/common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascripts/onlineForms.js"></script>
    <title>DefaultTitle</title>
</head>
<body dir="rtl">
<div align="center">
    <br><br>
    <div class="main-div">
        <h1>מערכת לניהול תהליכים ארגוניים</h1>
        <h2 id="formTitle"><u></u></h2>
        <br>
        <h3 id="info"></h3>
        <br>
        <div>
            <form id="form" onsubmit="return submitForm()">
                <fieldset id="fieldset">
                    <br>
                    <label for="first_name">שם פרטי</label><br>
                    <input id="first_name" name="first_name" type="text">
                    <br><br>
                    <label for="last_name">שם משפחה</label><br>
                    <input id="last_name" name="last_name" type="text">
                    <br><br>
                    <label>
                        מין
                        <br><input name="sex" type="radio" value="m">זכר
                        <br><input name="sex" type="radio" value="f">נקבה
                        <br><input name="sex" type="radio" value="o">אחר
                    </label>
                    <br><br>
                    <label>בחר מספרים
                        <br><input name="choose1" type="checkbox" value="a">בחר 0
                        <br><input name="choose2" type="checkbox" value="b">בחר 1
                        <br><input name="choose3" type="checkbox" value="c">בחר 2
                        <br><input name="choose4" type="checkbox" value="d">בחר 3
                        <br><input name="choose5" type="checkbox" value="e">בחר 4
                        <br><input name="choose6" type="checkbox" value="f">בחר 5
                        <br><input name="choose7" type="checkbox" value="g">בחר 6
                        <br><input name="choose8" type="checkbox" value="h">בחר 7
                    </label>
                    <br><br>
                    <input class="btn-default" id="submitButton" type="submit" value="שלח">
                </fieldset>
            </form>
        </div>
        <br><br>
        <button class="btn-default" id="close_win_button" onclick="window.close()">סגור טופס</button>
    </div>

</div>

</body>
</html>