<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forms list</title>
    <script>
        function myOnClick(formName) {
            window.open("/onlineForms/display?formName=" + formName);
            return false;
        };
    </script>
    <script src="/javascripts/filledOnlineForms.js"></script>
</head>
<body>
<%forms.forEach(function(form){%>
<a href="" id="<%=form.src%>" onclick="myOnClick('<%=form.name%>')"><%=form.name%></a><br><br>
<%})%>

<br><br>
<div id="formsAttributes">

</div>
</body>
</html>