<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <SCRIPT src="/draw_sankey/server/html/common/assets/javascript/dependencies.js"></SCRIPT>
    <SCRIPT src="/draw_sankey/server/html/common/lib/bootstrap/js/bootstrap.min.js"></SCRIPT>
    <link href="/draw_sankey/server/html/common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src="/javascripts/onlineForms.js"></script>
    <link href="/stylesheets/onlineFormsStyle.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/external_libraries/aes_crypto.js"></script>
    <script src="/external_libraries/signature_pad.js"></script>

    <script>
        let _formName = '';
        let fields = undefined;

        window.onload = function () {
            _formName = '<%=formName%>';
            document.title = _formName;
            document.getElementById("formTitle").appendChild(document.createTextNode(_formName));
            let isForShow = '<%=isForShow%>' === 'true';
            fields = '<%= fields %>';

            setupInputs(_formName, isForShow, fields);
        };

    </script>
</head>
<body dir="rtl">
<div align="center">
    <div class="main-div-forms">
        <h2 id="formTitle"><u></u></h2>
        <h3 id="info"></h3>
        <hr class="orange-hr">
        <form id="form" onsubmit="return submitForm()">
            <fieldset id="fieldset">

                <p style="font-size: large">
                    אל: ראש מדור כספים
                </p>
                <br>
                <table class="no_table" id="date_1" style="width: 30%;">
                    <tbody>
                    <tr>
                        <td><label for="date1">תאריך</label></td>
                        <td><textarea id="date1" name="date1"></textarea></td>
                    </tr>
                    </tbody>
                </table>
                <hr>

                <table class="no_table" id="information">
                    <tbody>
                    <tr>
                        <td><label for="why">מטרת הרכישה</label></td>
                        <td><textarea id="why" name="why"></textarea></td>
                    </tr>
                    <tr>
                        <td><label for="sum">סכום לתשלום</label></td>
                        <td><textarea id="sum" name="sum"></textarea></td>
                    </tr>
                    <tr>
                        <td><label for="full_name">שם מלא</label></td>
                        <td><textarea id="full_name" name="full_name"></textarea></td>
                    </tr>
                    <tr>
                        <td><label>חתימת מקבל ההחזר</label></td>
                        <td>
                            <div id="signature_1_div"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="budget">סעיף תקציבי</label></td>
                        <td><textarea id="budget" name="budget"></textarea></td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <table class="no_table signature_table" id="signature_2">
                    <tbody>
                    <tr>
                        <td>
                            <div class="padding">הריני מאשר כי ההוצאה הובאה מראש לידיעתי ואושרה על ידי.</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="padding"><b>חותמת וחתימת מנהל ממונה / רמ"ד</b></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="signature_2_div"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <hr>

                <table class="no_table signature_table" id="signature_3">
                    <tbody>
                    <tr>
                        <td>
                            <div class="padding">הריני מאשר כי דרישת הרכישה הינה במסגרת נוהל רכש - פרק כרטיס אשראי.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="padding"><b>חותמת וחתימת ראש מדור כספים</b></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="signature_3_div"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <hr>

                <input class="btn-default no_print" id="submitButton" type="submit" value="שלח">
            </fieldset>
        </form>

        <br>
        <button class="btn-default no_print" id="close_win_button" onclick="window.close()">סגור טופס</button>
        <br>
        <button class="btn btn-default no_print" id="print"
                onclick="window.print();return false;"
                type="button">הדפס טופס
        </button>
    </div>
</div>
</body>
</html>