<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>אישור תהליכים</title>
    <script src="/draw_sankey/server/html/common/assets/javascript/dependencies.js"></script>
    <script src="/draw_sankey/server/html/common/lib/bootstrap-4.3.1-dist/js/bootstrap.bundle.js"></script>
    <script src="/draw_sankey/server/html/common/lib/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/draw_sankey/server/html/common/lib/DataTables/datatables.min.js"></script>
    <script src="/javascripts/waitingStructures.js"></script>
    <script>
        $(document).ready(function ()
        {
            $('#example').DataTable();
        });
    </script>
    <link href="/draw_sankey/server/html/common/lib/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet">
    <link href="/draw_sankey/server/html/common/lib/bootstrap-4.3.1-dist/css/bootstrap-grid.css" rel="stylesheet">
    <link href="/draw_sankey/server/html/common/lib/bootstrap-4.3.1-dist/css/bootstrap-reboot.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/draw_sankey/server/html/common/lib/DataTables/datatables.min.css"/>
    <style>
        td {
            text-align: center;
        }

        th {
            text-align: center;
        }
    </style>
</head>
<body dir="rtl">
<div class="row">
    <h1 style="margin: auto">מבני תהליכים הממתינים לאישור</h1>
</div>
<br>
<div class="row">
    <div class="col-lg-10" style="margin:auto">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>שם המבנה</th>
                <th>האדם שרוצה לשנות</th>
                <th>סוג שינוי</th>
                <th>תאריך</th>
                <th>המבנה החדש</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <%waitingStructures.forEach(function(waitingStructure){%>
            <tr>
                <td><%=waitingStructure.structureName%></td>
                <td><%=waitingStructure.userEmail%></td>
                <td><%=waitingStructure.addOrEdit ? 'הוספה' : 'עריכה'%></td>
                <td><%=waitingStructure.date%></td>
                <td><button class="btn btn-default" onclick="viewStructureClicked(this.id)" id=<%='view_'+waitingStructure.id%>>ראה</button></td>
                <td><button class="btn btn-default" onclick="approveClicked(this.id)" id=<%='approve_'+waitingStructure.id%>>אשר שינוי</button></td>
            </tr>
            <%})%>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>