<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/draw_sankey/server/html/common/assets/javascript/dependencies.js"></script>
    <script src="/javascripts/handlingProcess.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script src="/javascripts/filledOnlineForms.js"></script>

    <title>טיפול בתהליך </title>
</head>
<body>
<div align="center">
    <h1>טיפול בתהליך <%=processName%></h1>
    <br>
    <br>
    <form id="frm" action="/activeProcesses/handleProcess" method="post" enctype="multipart/form-data">
        <input type="hidden" value="<%=processName%>" name="processName"/>
        Insert Your Files :
        <br>
        <br>
        <div class="col-md-12">
            <div class="row">
                <div class="control-group" id="fields">
                    <div class="controls">
                        <div class="entry input-group col-xs-3">
                            <input class="btn btn-primary" name="fields[]" type="file">
                            <span class="input-group-btn">
                           <button class="btn btn-success btn-add" type="button">
                           <span class="glyphicon glyphicon-plus"></span>
                           </button>
                           </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        Insert Your Comments :
        <br>
        <br>
        <input type="text" name="comments">
        <br>
        <br>
        Click Here To Cancel The Process :
        <br>
        <br>
        <button id="cancel" class="btn btn-default">ביטול</button>
        <br>
        <br>
        Choose To Which People You Want To Advance The Process To :
        <br>
        <br>
        <%nextRoles.forEach(function(roleIdAndName){%>
        <label><%=roleIdAndName[0]%>
            <input type="checkbox" name="<%=roleIdAndName[1]%>">
        </label>
        <%})%>
        <br>
        <br>
        <div id="formsInfo">
        </div>
        <button class="btn btn-default" id="advanceProcess" onclick="return updateForms()"> העבר לשלב
            הבא
        </button>
        <br>
        <br>
    </form>
    <%formsNames.forEach(function(formName){%>
    <a onclick="formClick('<%=formName%>')"><%=formName%></a>
    <br>
    <%})%>
</div>
</body>
</html>