<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <SCRIPT src="/draw_sankey/server/html/common/assets/javascript/dependencies.js"></SCRIPT>
    <SCRIPT src="/draw_sankey/server/html/common/lib/bootstrap/js/bootstrap.min.js"></SCRIPT>
    <link href="/draw_sankey/server/html/common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>טיפול בתהליך </title>
</head>
<body>
<div align="center">
<h1>טיפול בתהליך <%=processName%></h1>

<br>
<button id="fileUpload" class="btn btn-default">העלאת קבצים  </button>
<br>
<br>
<button id="advanceProcess"  class="btn btn-default"> העבר לשלב הבא </button>
<br>
<br>
<button id="cancel" class="btn btn-default">ביטול  </button>
<br>
    <label>משהו
        <input type="checkbox">
    </label>
</div>
</body>
</html>