<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ההתראות שלי</title>
    <script src="/draw_sankey/server/html/common/assets/javascript/dependencies.js"></script>
    <script src="/draw_sankey/server/html/common/lib/bootstrap-4.3.1-dist/js/bootstrap.bundle.js"></script>
    <script src="/draw_sankey/server/html/common/lib/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/draw_sankey/server/html/common/lib/DataTables/datatables.min.js"></script>
    <script src="/javascripts/notifications.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <link href="/draw_sankey/server/html/common/lib/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet">
    <link href="/draw_sankey/server/html/common/lib/bootstrap-4.3.1-dist/css/bootstrap-grid.css" rel="stylesheet">
    <link href="/draw_sankey/server/html/common/lib/bootstrap-4.3.1-dist/css/bootstrap-reboot.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/draw_sankey/server/html/common/lib/DataTables/datatables.min.css"/>
    <style>
        td {
            text-align: center;
        }
        th {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="row">
    <h1 style="margin: auto">ההתראות שלי</h1>
</div>
<br>
<div class="row">
    <div class="col-lg-10" style="margin:auto">
        <table id="notifications-table" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>סוג התראה</th>
                <th>פירוט</th>
                <th>תהליך</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>