<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ההתראות שלי</title>
    <script src="/draw_sankey/server/html/common/assets/javascript/dependencies.js"></script>
    <SCRIPT src="/draw_sankey/server/html/common/lib/bootstrap/js/bootstrap.min.js"></SCRIPT>
    <script type="text/javascript" src="/draw_sankey/server/html/common/lib/DataTables/datatables.min.js"></script>
    <script src="/javascripts/topbar.js"></script>
    <script src="/javascripts/notifications.js"></script>
    <link type="text/css" rel="stylesheet" href="/draw_sankey/server/html/common/lib/ionicons/css/ionicons.min.css"/>

    <script>
        $(document).ready(function ()
        {
            $('#example').DataTable(tableLanguageOption);
            setTopBar();
        });
    </script>
    <link href="/draw_sankey/server/html/common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/draw_sankey/server/html/common/lib/DataTables/datatables.min.css"/>
    <link href="/stylesheets/style.css" rel="stylesheet">

    <style>
        td {
            text-align: center;
        }

        th {
            text-align: center;
        }
    </style>
</head>
<body dir="rtl">
<div align="center">
    <div id="top-bar" class="top-bar">
    </div>
    <br><br>
    <div align="center">
        <h1 style="margin: auto">ההתראות שלי</h1>
        <br>
        <div align="center">
            <div align="center" style="margin: auto; width:83%">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>סוג התראה</th>
                        <th>פירוט</th>
                        <th>זמן</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%notifications.forEach(function(notification){%>
                    <tr>
                        <td><%=notification.notificationType%></td>
                        <td><%=notification.description%></td>
                        <td><%=notification.date%></td>
                    </tr>
                    <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>